* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
html,
body {
    height: 100%;
    width: 100%;
}
.img11{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


#loader h1 {
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1 {
        font-size: 9vw;

    }
}